@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;800&family=Work+Sans&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background: #05101c;
  color: white;
  font-family: "Roboto Slab", serif;
}

.main-content.hidden {
  visibility: hidden; /* or 'display: none;' based on your preference */
}

.main-content {
  visibility: visible;
  /* rest of your styles for main content */
}

.markdown-content {
  width: "100%";
  font-size: 1.25rem; /* This sets the font size to 20px */
}

/* You can also target specific elements within the markdown content */
.markdown-content h1 {
  font-size: 2rem; /* Larger font size for h1 elements */
}

.markdown-content p {
  font-size: 1.25rem; /* Paragraphs with 20px font size */
}

/* If you want to target the rendered math expressions specifically */
.markdown-content .katex {
  font-size: 1.25rem; /* Adjust as needed */
}

.no-scroll {
  overflow: hidden;
}

.image-inverted {
  filter: invert(100%);
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes bobbing {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes pulseOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.bob-image {
  animation: bobbing 2s ease-in-out infinite;
}

.img-border {
  border-radius: 10px; /* Adjust for desired roundness */
  border: 3px solid rgb(16, 119, 145); /* Width and color of the border */
}

.nav-link {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.markdown-content p,
.markdown-content .katex {
  width: 100%;
  word-break: break-word;
}

/* ExtraSmall Screens */
.code {
  width: 50vw;
}

/* Small Screens */
@media (min-width: 400px) {
  /* Adjust the min-width as needed */
  .code {
    width: 60vw; /* Adjust the width as needed for medium screens */
    /* Other styles for medium screens */
  }
}

/* Medium screens */
@media (min-width: 600px) {
  /* Adjust the min-width as needed */
  .code {
    width: 70vw; /* Adjust the width as needed for medium screens */
    /* Other styles for medium screens */
  }
}

/* Large screens */
@media (min-width: 900px) {
  /* Adjust the min-width as needed */
  .code {
    width: 60vw; /* Adjust the width as needed for large screens */
    /* Other styles for large screens */
  }
}
